body {
    background-color: #ffb365;
    font-family: "MS Reference Sans Serif", sans-serif;
}

.header {
    text-align: center;
    background: #ffb365;
}

main {
    padding: 5em;
    background-color: aliceblue;
    max-width: 20em;
    margin: auto;
    border-radius: .5em;
}

#addQuestion, #addOptions {
    padding: 0.5em;
}

button, input {
    border-radius: 5px;
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

.div-container {
    text-align: center;
    margin: 70px;
}



.warning {
    background-color: #1a21a6;
    color: #FFFFFF;
    border: 2px black solid;
}

.warning:hover {
    background-color: #858aec;
    color: #FFFFFF;
}

.success {
    background-color: #117557;
    color: #FFFFFF;
    border: 2px black solid;
}

.warningred {
    background-color: #751111;
    color: #FFFFFF;
    border: 2px black solid;
}

.warningred:hover {
    background-color: #d34040;
    color: #FFFFFF;
}

.success:hover {
    background-color: #40d39f;
    color: #FFFFFF;
}

.input {
    height: 30px;
    font-size: 1.1rem;
}

.input:focus {
    outline: none;
    box-shadow: none;
}

